* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #282035;
  color: white;
}

header{
  height: 90px;
  background-color: #21222A;
  padding: 30px 25px;
}
nav {
  display: flex;
  align-items: center;
  height: 100%;
}
nav > img {
  width: 40px;
  margin-right: 7px;
}
nav > span {
  color: #61DAFB;
  font-size: 1.3rem;
  font-weight: 700;
}

main {
  padding: 60px 30px;
  background-image: url("/react-logo.png");
  background-repeat: no-repeat;
  background-position: 200% 0%;
  
}
main > h1 {
  margin: 0;
  font-size: 2.4rem;
}
.facts-list {
  margin-top: 30px;
  max-width: 500px;
}
.facts-list > li {
  padding-block: 10px;
  line-height: 19px;
}
.facts-list > li::marker {
  color: #61dafb;
  font-size: 1.5rem;
}