* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
}
header{
  background-color: #f55a5a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 55px;
}
header > img {
  width: 30px;
  margin-right: 7px;
}
header > h1 {
  font-weight: 500;
  font-size: 0.9rem;
}

/*The Card's styling start here */

article.journal-entry {
  display: flex;
  padding: 20px;
}

.mondstadt-image-container {
  width: 150px;
  height: 225px;
  overflow: hidden;
  border-radius: 5px;
  flex-shrink: 0;
  margin-right: 19px;
}
.mondstadt-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.marker{
  width: 15px;
  margin-right: 2px;
}
.country {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.entry-location a {
  margin-left: 12px;
  font-size: 0.75rem;
  color: #918E9B;
}
.entry-title {
  margin: 8px 0;
}
.entry-dates {
  font-weight: bolder;
  font-size: 0.75rem;
}

.entry-text {
  font-size: 0.75rem;
  line-height: 1.5;
}